<div class="container">
    <div class="py-5 header-content">
        <h2><a [routerLink]="['/admin']" >Home</a></h2>
        <h2>Pessoas</h2>
        <h6><a [routerLink]="['/admin']" >voltar</a></h6>
    </div>
    <div class="py-5" class="btn-add">
        <a [routerLink]="['novo']" class="btn btn-success btn-sm">Adicionar</a>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Telefone</th>
                                <th>Celular</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                
                                <td>{{user['name']}}</td>
                                <td>{{user['email']}}</td>
                                <td>{{user['telefone']}}</td>
                                <td>{{user['celular']}}</td>
                                <td  class="text-center">
                                    <a [routerLink]="['visualizar', user['id']]" class="btn btn-warning btn-sm">Visualizar</a>
                                    <a [routerLink]="['editar', user['id']]" class="btn btn-primary btn-sm">Editar</a>
                                    <button class="btn btn-danger btn-sm" (click)="submitDelete(user['id'])">Remover</button>
                                    <button class="btn btn-primary" data-toggle="confirmation">Confirmation</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>