<div class="container">
    <div class="py-5 header-content">
        <h2><a [routerLink]="['/admin']" >Home</a></h2>
        <h2><a [routerLink]="['/admin/pessoas']" >Pessoas</a></h2>
        <h2>Visualizar</h2>
        <h6><a [routerLink]="['/admin']" >voltar</a></h6>
    </div>
    <div class="row card">
        <div class="card-body">
            <div class="row">
                <label class="form-label col-sm-12 col-xs-12">Nome: <span>{{data.name}}</span></label>                
                <label class="form-label col-sm-12 col-xs-12">Email: <span>{{data.email}}</span></label>                
                <label class="form-label col-sm-12 col-xs-12">Telefone: <span>{{data.telefone}}</span></label>                
                <label class="form-label col-sm-12 col-xs-12">Celular: <span>{{data.celular}}</span></label>                
            </div>
        </div>
    </div>
    <div class="row card">
        <div class="card-body">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Celular</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of data.contacts" >
                            <td>{{user['email']}}</td>
                            <td>{{user['telefone']}}</td>
                            <td>{{user['celular']}}</td>
                            <td  class="text-center">
                                <a [routerLink]="['visualizar', user['id']]" class="btn btn-warning btn-sm">Visualizar</a>
                                <a [routerLink]="['editar', user['id']]" class="btn btn-primary btn-sm">Editar</a>
                                <button class="btn btn-danger btn-sm" (click)="submitDelete(user['name'],user['id'])">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

