@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

*{
    outline: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400; 
}

.btn-add{
    text-align: right;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #000;
}

.header-content{
        display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.row{
    margin-bottom: 1rem !important;
}

.right{
    float: right !important;
}

td .btn{
    margin-left: 5px;
}
