<div class="container">
    <ul class="nav col-md-12 justify-content-end">
        <li class="nav-item"><a [routerLink]="['/admin']" class="nav-link active px-2 text-muted">Home</a></li>
        <li class="nav-item"><a [routerLink]="['/admin/contacts']" class="nav-link px-2 active">Contacts</a></li>
    </ul>
    <div class="py-5 header-content">
        <a [routerLink]="['/admin/contacts']">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path
                    d="M10.78 19.03a.75.75 0 0 1-1.06 0l-6.25-6.25a.75.75 0 0 1 0-1.06l6.25-6.25a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L5.81 11.5h14.44a.75.75 0 0 1 0 1.5H5.81l4.97 4.97a.75.75 0 0 1 0 1.06Z">
                </path>
            </svg>
            Voltar </a>
    </div>
    <br>
    <div class="header-content">
        <h2> Contacts - View</h2>
    </div>
    <div class="py-5" class="btn-add">
        <a [routerLink]="['/admin/contacts/new']" class="btn btn-success btn-sm">New</a>
        <a [routerLink]="['/admin/contacts/edit', data.id]" class="btn btn-primary btn-sm">Edit</a>
    </div>
    <hr class="py-5">
    <div class="row g-2">
        <div class="col-sm-4 col-xs-12 ml-3">
            <h6>Contact</h6>
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <label class="form-label col-sm-12 col-xs-12">Name: <span>{{data.name}}</span></label>
                        <label class="form-label col-sm-12 col-xs-12">Email: <span>{{data.email}}</span></label>
                        <label class="form-label col-sm-12 col-xs-12">Telephone: <span>{{data.telephone | phone}}</span></label>
                        <label class="form-label col-sm-12 col-xs-12">Cell Phone:
                            <span>{{data.cell_phone | phone}}</span></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-xs-12 ml-3">
            <h6>Additional Contact</h6>
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Telephone</th>
                                    <th>Cell Phone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data.additional_contacts">
                                    <td>{{item['email']}}</td>
                                    <td>{{item['telephone'] | phone}}</td>
                                    <td>{{item['cell_phone'] | phone}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>